

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
*{
   color:rgb(117, 13, 13)
}

h2{
   text-decoration: dotted;
   font-size: 24px;
}
















