

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
*{
   color:rgb(117, 13, 13)
}

h2{
   text-decoration: underline;
   font-size: 24px;
}

input{
   background-color: orange;
}


















